@import url(font-awesome.min.css);
.jumbotron {
    display: flex;
    align-items: center;
    background-image: url('../img/closeup_laptop.jpg');
    background-size: cover;
    color: #000000;
    height: 400px;
    text-shadow: 2px 2px #000;
}

.jumbotron h1 {
    font-size: 60px;
    font-weight: 700;
    margin: 0;
    color: #AAA;
    opacity: 0.75;
    padding-bottom: 1rem;
}

.jumbotron h3 {
    margin: 0 0 20px;
    color: #AAA;
    opacity: 0.75;
}

.icon {
    text-decoration: none;
    border-bottom: none;
    position: relative;
    font-size: 50px;
    padding: 2rem;
    color: #C0C0C0;
}

.icon:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
}

.icon > .label {
    display: none;
    font-color: #A00000;
}

.copyright p{

    text-color:#ffffff;

}


.icon-menu{
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
    padding-left: 10px;
}


#footer{
    padding: 2rem;
    color: rgba(255, 255, 255, 0.75);
    text-align: center;
}

/* Carousel */

.slider {
    position: relative;
    width: 100%;
    height: 470px;
    border-bottom: 1px solid #ddd;
}

.slide {
    background: transparent url('http://s3.amazonaws.com/codecademy-content/courses/ltp2/img/flipboard/feature-gradient-transparent.png') center center no-repeat;
    background-size: cover;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.active-slide {
    display: block;
}

.slide-copy h1 {
    color: #363636;  

    font-family: 'Oswald', sans-serif;
    font-weight: 400;

    font-size: 40px;
    margin-top: 105px;
    margin-bottom: 0px;
}

.slide-copy h2 {
    color: #b7b7b7;

    font-family: 'Oswald', sans-serif;
    font-weight: 400;

    font-size: 40px;
    margin: 5px;
}

.slide-copy p {
    color: #959595;
    font-family: Georgia, "Times New Roman", serif;
    font-size: 1.15em;
    line-height: 1.75em;
    margin-bottom: 15px;
    margin-top: 16px;
}

.slide-img {
    text-align: right;
}

/* Slide feature */

.slide-feature {
    text-align: center;
    background-image: url('http://s3.amazonaws.com/codecademy-content/courses/ltp2/img/flipboard/ac.png');
    height: 470px;
}

.slide-feature img {
    margin-top: 112px;
    margin-bottom: 28px;
}

.slide-feature a {
    display: block;
    color: #6fc5e0;

    font-family: "HelveticaNeueMdCn", Helvetica, sans-serif;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;

    font-size: 20px;
}

.slider-nav {
    text-align: center;
    margin-top: 20px;
}

.arrow-prev {
    margin-right: 45px;
    display: inline-block;
    vertical-align: top;
    margin-top: 9px;
}

.arrow-next {
    margin-left: 45px;
    display: inline-block;
    vertical-align: top;
    margin-top: 9px;
}

.slider-dots {
    list-style: none;
    display: inline-block;
    padding-left: 0;
    margin-bottom: 0;
}

.slider-dots li {
    color: #bbbcbc;
    display: inline;
    font-size: 30px;
    margin-right: 5px;
}

.slider-dots li.active-dot {
    color: #363636;
}

/* App links */

.get-app {
list-style: none;
padding-bottom: 9px;
padding-left: 0px;
padding-top: 9px;
}

.get-app li {
float: left;
margin-bottom: 5px;
margin-right: 5px;
}

.get-app img {
height: 40px;
}

body{

    background-color: #404040;
}
